body {
    margin: 0;
    padding: 0;
    text-align: center;
    background: linear-gradient(rgba(0, 0, 150, 0.5), rgba(0, 0, 50, 0.5)), url(../bg.jpg);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}

.contact-title {
    margin-top: 100px;
    color: #fff;
    text-transform: uppercase;
    transition: all 4s ease-in-out;
}

form {
    margin-top: 50px;
    transition: all 4s ease-in-out;
}

.form-control {
    width: 600px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid gray;
    color: #fff;
    font-size: 18px;
}

input {
    height: 45px;
}

form .submit {
    background: #ff5722;
    border-color: transparent;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    height: 50px;
    margin-top: 20px;
}

form .submit:hover {
    background-color: #f44336;
    cursor: pointer;
}

input:valid {
    border: 2px solid green;
}

::placeholder {
    color: #f44336;
    opacity: 1;
}

#back {
    position: absolute;
    bottom: 10px;
    left: 20px;
    -webkit-transform: translateX(-10%);
    transform: translateX(-10%);
    background: orange;
}

#back:hover {
    background: green;
}

#back2 {
    position: absolute;
    bottom: 10px;
    left: 100px;
    -webkit-transform: translateX(-10%);
    transform: translateX(-10%);
    background: orange;
}

#back2:hover {
    background: green;
}