body {
    background-color: #2a2627;
    margin: 20px;
    text-align: center;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(rgba(0, 0, 150, 0.5), rgba(0, 0, 50, 0.5)), url(../alps1.jpg);
    background-size: cover;

}

h1 {
    color: #ffffff
}

button {
    background: #ff5722;
    border-color: transparent;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    height: 50px;
    margin-top: 20px;
    width: 15%;
    border-radius: 20px;
    
}

button:hover {
    background: blue;
}

#clock {

    position: absolute;
    bottom: 10px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background: wheat;
    border-radius: 5px;
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;

}

#back {
    position: absolute;
    bottom: 10px;
    left: 20px;
    -webkit-transform: translateX(-10%);
    transform: translateX(-10%);
    background: orange;
    border-radius: 0;
    font-size: 15px;
    width: 10%;
}

#back:hover {
    background: green;
}
