<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/style/gueststyle.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div class="card">
    <img src="https://cdn.pixabay.com/photo/2018/03/29/07/35/water-3271579_1280.jpg" alt="John" style="width:100%">
    <h1 th:text="${name}"></h1>
    <p class="title" th:text="${art}"></p>
    <p th:text="${country}"></p>
    <div th:text="${konto}"></div>
    <div th:text="${mail}"></div>
    <div th:text="${street}"></div>
    <div th:text="${city}"></div>
    <p><a href="/guestfinder">
        <button>Zurück</button>
    </a>
        <a href="/">
            <button>Startseite</button>
        </a></p>
</div>

</body>
</html>